/* App.css */
body, html {
  background-color: #91919130;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root, .app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  flex-shrink: 0; /* Ensures the header doesn't shrink */
}

.main-content {
  flex-grow: 1; /* Takes up all available space */
  overflow-y: auto; /* Adds scroll to the main content only */
  padding-top: 50px; /* Adjust based on your header's height */
  padding-bottom: 50px; /* Adjust based on your footer's height */
}

.footer {
  flex-shrink: 0; /* Ensures the footer doesn't shrink */
}
